html {
    font-family: sans-serif;
    color: #e8e8ff; /* Barva textu v tmavém režimu */
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 25px; /* Změněno z 0 na 25px */
    background-color: black; /* Změněno z #262626 na black */
    color: white; /* Barva textu v tmavém režimu */
    font-size: 25px; /* Velikost písma */
    position: relative; /* Zajistí, že absolutně pozicované prvky budou relativní k tělu stránky */
}

/* Tmavý box za obsahem stránky */
.dark-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111; /* Tmavá barva boxu */
    opacity: 0.5; /* Průhlednost boxu */
}

a {
    display: block;
    margin-bottom: 1.5rem;
    color: #e8e8ff; /* Barva odkazů v tmavém režimu */
}

label, button, output {
    display: block;
    font-size: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

textarea, button {
    margin-bottom: 1.5rem;
}

textarea {
    width: 100%;
    border: 0.125rem solid white; /* Barva ohraničení textového pole v tmavém režimu */
    background-color: #262626; /* Barva pozadí pro textové pole v tmavém režimu */
}

button {
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
}

@media (prefers-color-scheme: light), (forced-colors: active) {
    html {
        filter: invert(1); /* Inverze barev pro světlý režim */
    }
    
    /* Invertování obrazu nepodporuje všechny elementy stejně, takže tyto prvky budou ručně obnoveny do původních barev */
    img,
    video {
        filter: invert(1);
    }
    
    body {
        background-color: #cecece; /* Barva pozadí pro světlý režim */
        color: black; /* Barva textu pro světlý režim */
    }
    
    .dark-box {
        background-color: #111; /* Tmavá barva boxu v světlém režimu */
        opacity: 0.5; /* Průhlednost boxu v světlém režimu */
    }
}
