html {
    font-family: sans-serif;
}

body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    display: block;
    margin-bottom: 1.5rem;
    color: #e8e8ff; /* Barva odkazů v tmavém režimu */
}

label, button, output {
    display: block;
    font-size: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

textarea, button {
    margin-bottom: 1.5rem;
}

textarea {
    width: 100%;
    border: 0.125rem solid white; /* Barva ohraničení textového pole v tmavém režimu */
    background-color: #262626; /* Barva pozadí pro textové pole v tmavém režimu */
}

button {
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border: 0.125rem solid white;
}

@media (prefers-color-scheme: light), (forced-colors: active) {
    html {
        filter: invert(1); /* Inverze barev pro světlý režim */
    }
    
    /* Invertování obrazu nepodporuje všechny elementy stejně, takže tyto prvky budou ručně obnoveny do původních barev */
    img,
    video {
        filter: invert(1);
    }
}
